#tan{
	border-bottom:4px solid red;
	height:80px;
	width:100%;
	position:fixed;
	z-index: 5;
	float:left;
}
.tanl{
	background-color:white;
	height:80px;
	width:20%;
	float:left;
	padding-left: 40px;
}
.tanl>:hover{
	height:80px;
	width:100px;
	margin-left: 50px;
	margin-top: 10px;
}
.tanr{
	background-color:white;
	height:80px;
	width:76%;
	float:left;
}
.tanr1{
/*	border:1px solid red;*/
	height:63px;
	width:80%;
	margin-top: 10px;
	float:left;
}
.tanr2{
	height:40px;
	width:80%;
	float:left;
}
.tanr2>input{
	border:1px solid red;
	height:38px;
	width:100%;
}
.tanr3>input{
	background-color: red;
	border:1px solid red;
	height:40px;
	width:100%;
}
.tanr3{
	background-color: red;
	height:42px;
	width:19%;
	float:left;
	text-align: center;
	line-height: 40px;
}

.header1{
	/*border:1px solid black;*/
	height:80px;
	width:1500px;
	background-color:#f23d9c;
}
.header1>li{
	height:100px;
	width:1500px;
	margin:0 auto;
}
.header2{
	height:190px;
	width:1500px;
}
.h2-1{
	/*border:1px solid black;*/
	height:35px;
	width:222px;
	background-color:#e4e6e5;
	float:left;
}
.h2-2{
	/*border:1px solid black;*/
	height:190px;
	width:170px;
	float:left;
	background-color:white;
}
.h2-3{
	/*border:1px solid black;*/
	height:190px;
	width:890px;
	float:left;
}
.h2-3-s{
	/*border:1px solid black;*/
	height:35px;
	width:890px;
	float:left;
	background-color:#e4e6e5;
	position:absolute;
}
.h2-3-s>p{
	float:left;
	margin-left: 10px;
	margin-right: 70px;
	margin-top: 8px;
	font-size:14px;
	color:#9b9b9d;
}
.h2-3-s>li{
	float:left;
	margin-left:5px;
	margin-top:8px;
	color:#9b9b9d;
	font-size:14px;
}
.h2-3-s>li>a{
	float:left;
	margin-left:7px;
	position:relative;
}
.h2-3-s>li>a:hover>.h2-hover1{
	opacity: 1;
	background-color: red;
}
.h2-hover1{
	border:1px solid black;
	height:90px;
	width:90px;
/*	border-left:1px soild black;
	border-right:1px soild black;
	border-bottom:1px soild black;*/
	opacity: 0;
}
.h2-3-z{
	/*border:1px solid black;*/
	height:105px;
	width:890px;
	float:left;
	background-color: #f1f3ee;
	margin-top: 40px;
}
.search{
	/*border:1px solid black;*/
	height:100px;
	width:650px;
	margin-top: 27px;
	margin-left: 100px;
	float:left;
}
.search-1{
	/*border:1px solid black;*/
	height:45px;
	float:left;
}
.search-1-1{
	/*border:1px solid red;*/
	height:35px;
	width:405px;
	margin-left: 10px;
	margin-top: 10px;
	float:left;
	background-color:white;
}
.search-1-2{
	/*border:1px solid red;*/
	height:35px;
	width:50px;
	margin-top: 10px;
	float:left;
	background-color: red;
}
.search-1-2>input{
	height:35px;
	width:50px;
	background-color:red;
}
.search-1-3{
/*	border:1px solid red;*/
	height:35px;
	width:145px;
	margin-top: 10px;
	margin-left: 25px;
	float:left;
	background-color: white;
}
.search-1-3>img{
	height:20px;
	width:20px;
	margin-left: 15px;
	margin-top: 9px;
}
.search-1-3>a{
	font-size: 12px;
	color:red;
	margin-left: 13px;
	margin-top: 9px;
}
.search-2{
/*	border:1px solid black;*/
	height:20px;
	margin-top: 50px;
}
.search-2>a{
	color:#9b9b9d;
	font-size: 11px;
	margin-left: 8px;
}
.search-2>a:hover{
	color:red;
}
.ma{
	/*border: 1px solid black;*/
	height:100px;
	width:100px;
	float:right;
}
.h2-3-x{
	/*border:1px solid black;*/
	position: absolute;
	height:40px;
	width:80%;
	float:left;
	background-color: #f1f3ee;
	margin-top: 157px;
}
.h2-3-x>a{
	position:relative;
	display: inline-block;
	font-size: 15px;
	color:black;
	margin-left:14px;
	line-height: 40px;
}
.h2-3-x>a:hover{
	color:red;
}
.h2-3-x>li{
	position:relative;
	margin-left:700px;
	margin-top: -45px;
	height:40px;
	width:180px;
}
.h2-4{
	/*border:1px solid black;*/
	height:35px;
	width:218px;
	background-color:#e4e6e5;
	float:right;
}
.header3{
	height:500px;
	width:1500px;
}
.header-3{
	/*border:1px solid black;*/
	height:500px;
	width:1055px;
}
.header3-1{
	/*border:1px solid black;*/
	height:500px;
	width:170px;
	float:left;
	background-color:white;
}
.header3-1-1>a:hover>.header3-1-2{
	opacity: 1;
}
.header3-1-1{
	position:relative;
	height:22px;
	width:150px;
	font-size:14px;
	padding-left: 20px;
	padding-top: 5px;
}
.header3-1-1>a{
	color:#4e4e4e;
}
.header3-1-1>a:hover{
	color:red;
}
.header3-2{
	/*border:1px solid black;*/
	height:500px;
	width:545px;
	float:left;
}
.header3-2-1>img{
	height:500px;
	width:533px;
	margin-left: 6px;
	margin-top: 5px;
}
.header3-3{
	/*border:1px solid black;*/
	height:500px;
	width:170px;
	float:left;
}
.header3-3>li>img{
	height:147px;
	width:167px;
	margin-top: 5px;
}
.header3-3>img{
	height:147px;
	width:167px;
	margin-top: 20px;
}
.header3-3>img:hover{
	opacity:0.8;
}
.header3-3>li>img:hover{
	opacity: 0.8;
}
.header3-4{
	/*border:1px solid black;*/
	height:500px;
	width:170px;
	float:left;
	background-color: #fff;
}
.header3-4-s{
	height:150px;
	width:170px;
}
.header3-4-s-1{
	height:60px;
	width:60px;
}
.header3-4-s-1>img{
	border:5px solid #e4e3e5;
	border-radius: 35px 35px;
	height:60px;
	width:60px;
	margin-left: 50px;
	margin-top: -6px;
}
.header3-4-s-2{
	height:25px;
	width:170px;
	font-size:12px;
	color:#b0a6ab;
	text-align:center;
	line-height: 25px;
}
.header3-4-s-3{
	height:25px;
	width:170px;
	font-size:12px;
	color:#4e4e4e;
	text-align:center;
	line-height: 25px;
}
.header3-4-s-4{
	height:50px;
	width:170px;
}
.header3-4-s-4-l>input{
	margin-left: 3px;
	background-color:white;
	color:red;
	height:30px;
	font-size: 14px;
	border-radius: 15px 15px 15px 15px;
	width:80px;
}
.header3-4-s-4-l{
	height:25px;
	width:85px;
	float:left;
}
.header3-4-s-4-r{
	height:25px;
	width:85px;
	float:left;
}
.header3-4-s-4-r>input{
	border-radius: 15px 15px 15px 15px;
	width:80px;
	height:30px;
	background-color: black;
	color:#c4c34c;
	font-size: 14px;
	margin-left: 3px;
}
.header3-4-z{
	height:160px;
	width:170px;
}
.header3-4-z-1{
	height:40px;
	width:170px;
}
.header3-4-z-1>li{
   color:#4e4e4e;
   font-size:13px;
   float:left;
}
.header3-4-z-1>a{
   color:#b0a6ab;
   font-size:13px;
   float:right;
} 
.header3-4-z-2{
	height:28px;
	width:170px;
}
.header3-4-z-2>li{
	height:18px;
	width:35px;
	font-size:10px;
	float:left;
	margin-left: 8px;
	background-color:#e7525f;
	line-height: 18px;
	text-align: center;
	color:white;
}
.header3-4-z-2>a{
	height:28px;
	width:115px;
	font-size:10px;
	float:left;
	margin-left: 10px;
	background-color: white;
	line-height:18px;
	text-align: center;
	color:#4e4e4e;
}
.header3-4-x{
	height:190px;
	width:170px;
}
.header3-4-x-1{
	height:63px;
	width:42px;
	float:left;
}
.header3-4-x-1>.service1{
	float:left;
}
.header3-4-x-1>.service1>a{
	color:#c7af83;
	font-size: 11px;
	text-align:center;
	margin-left: 10px;
}
.header3-4-x-1>.service1>b{
	width:26px;
	height:26px;
	background-position:-0px -41px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service2>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 10px;
}
.header3-4-x-1>.service2>b{
	width:26px;
	height:26px;
	background-position:-30px -41px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service3>a{
	color:#c7af83;
	color:;
	font-size:11px;
	margin-left: 10px;
}
.header3-4-x-1>.service3>b{
	width:26px;
	height:26px;
	background-position:-116px -41px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service4>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 10px;
}
.header3-4-x-1>.service4>b{
	width:26px;
	height:26px;
	background-position:-87px -41px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service5>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 5px;
}
.header3-4-x-1>.service5>b{
	width:26px;
	height:26px;
	background-position:-175px -41px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service6>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 5px;
}
.header3-4-x-1>.service6>b{
	width:26px;
	height:26px;
	background-position:-116px -70px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service7>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 5px;
}
.header3-4-x-1>.service7>b{
	width:26px;
	height:26px;
	background-position:-60px -41px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service8>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 5px;
}
.header3-4-x-1>.service8>b{
	width:26px;
	height:26px;
	background-position:-30px -70px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service9>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 10px;
}
.header3-4-x-1>.service9>b{
	width:26px;
	height:26px;
	background-position:-59px -70px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service10>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 10px;
}
.header3-4-x-1>.service10>b{
	width:26px;
	height:26px;
	background-position:-87px -70px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service11>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 7px;
}
.header3-4-x-1>.service11>b{
	width:26px;
	height:26px;
	background-position:-145px -41px;
	margin-left:10px;
	margin-top:5px;
}
.header3-4-x-1>.service12>a{
	color:#c7af83;
	font-size:11px;
	margin-left: 10px;
}
.header3-4-x-1>.service12>b{
	width:26px;
	height:26px;
	background-position:-0px -41px;
	margin-left:10px;
	margin-top:5px;
}
.nav-1{
	height:340px;
	width:1500px;
	padding-top: 40px;
}
.nav{
	height:300px;
	width:1055px;
}
.nav>.nav1{
	height:300px;
	width:177px;
	float:left;
	background-color:#e63732;
	color:white;
}
.nav1-1{
	height:230px;
	width:177px;
}
.nav1-1{
	height:200px;
	width:177px;
}
.nav1-1>li{
	font-size: 33px;
	margin-top: 30px;
	margin-left:18px;
	letter-spacing: 3px;
}
.nav1-1>p{
	font-size:20px;
	margin-left:20px;
}
.nav1-1>s{
	width:20px;
	height:33px;
	background-position:-35px -26px;
	margin-left:10px;
	margin-top:5px;
	background-image: url(../sprite/sprite7.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	margin-left: 80px;
}
.nav1-1>span{
	font-size: 14px;
	margin-left:20px;
	letter-spacing: 3px;
}
.nav1-2{
	height:70px;
	width:177px;
	margin-left:-5px;
}
.con{
	width: 168px;
	height: 50px;
	margin: 8px 10px;
}
.hour{
	background-color: black;
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 3px;
	color: white;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: 50px;
}
.hr{
	border: 1px solid red;
	margin-top: -25px;
}
.nav2{
	height:300px;
	width:700px;
	float:left;
}
.nav3{
	height:300px;
	width:175px;
	float:left;
}
.nav4{
	height:300px;
	width:173px;
	float:left;
	background-color: white;
}
.nav4>img{
	height:110px;
	width:110px;
	margin-top: 35px;
	margin-left: 19px;
}
.nav4>img:hover{
	opacity:0.7;
}
.nav4>li{
	font-size:12px;
	margin-top: 40px;
	margin-left:17px;
}
.nav5{
	border:1px solid red;
	height:23px;
	width:150px;
	margin-top: 33px;
	margin-left:10px;
	font-size:13px;
	float：left；
}
.nav5>li{
	float:left;
	margin-top: -20px;
	margin-left:87px;
}
.nav5-1{
	background-color:red;
	height:23px;
	width:77px;
	color:white;
	font-size:13px;
	text-align: center;
	line-height:23px;
}
.nav>.nav6{
	background-color: white;
	height:300px;
	width:177px;
	float:left;
}
.nav6-1>img{
	height:288px;
	width:170px;
	margin-left:5px;
}
.content-1{
	height:415px;
	width:1500px;
	padding-top:30px;
}
.content{
	height:400px;
	width:1055px;
}
.content1{
	height:400px;
	width:345px;
	float:left;
	background-color: white;
}
.title{
	height:50px;
	width:345px;
	float:left;
}
.title>p{
	font-size:20px;
	float:left;
	margin-left: 10px;
	margin-top: 15px;
}
.title>span{
	margin-left: 5px;
	float:left;
	margin-top: 25px;
}
.title>li{
	float:left;
	font-size:12px;	
	margin-left: 5px;
	margin-top: 23px;
	color:#727272;
}
.content1-p-2>img{
	margin-left: 8px;
	float:left;
}
.content1-1{
/*	border:1px solid black;*/
	height:40px;
	width:69px;
	position:relative;
	float:left;
}
.content1-1{
	display: inline-block;
}
.content1-2{
	display: inline-block;
}
.content1-3{
	display: inline-block;
}
.content1-4{
	display: inline-block;
}
.content1-5{
	display: inline-block;
}
.content1-1>a{
	margin-left:10px;
	margin-top: 20px;
}
.content1-2>a{
	margin-left:-0px;
}
.content1-3>a{
	margin-left:15px;
}
.content1-4>a{
	margin-left:20px;
}
.content1-5>a{
	margin-left:20px;
}
.content1-2:hover>.content2-p{
	opacity: 2;
}
.content1-3:hover>.content3-p{
	opacity: 2;
}
.content1-4:hover>.content4-p{
	opacity: 2;
}
.content1-5:hover>.content5-p{
	opacity: 2;
}
.content1-1>.content1-p{
	position:absolute;
	height:300px;
	width:300px;
	margin-top: 20px;
	opacity: 1;
	padding-left:15px;
}
.content1-2>.content2-p{
	position:absolute;
	height:300px;
	width:300px;
	margin-top: 20px;
	margin-left:-68px;
	opacity: 0;
	padding-left:15px;
}
.content1-3>.content3-p{
	position:absolute;
	height:300px;
	width:300px;
	margin-top: 20px;
	margin-left:-138px;
	opacity: 0;
	padding-left:15px;
}
.content1-4>.content4-p{
	position:absolute;
	height:300px;
	width:300px;
	margin-top: 20px;
	margin-left: -190px;
	opacity: 0;
	padding-left:15px;
}
.content1-5>.content5-p{
	position:absolute;
	height:300px;
	width:300px;
	margin-top: 20px;
	margin-left: -278px;
	opacity: 0;
	padding-left:15px;
}
.content1-2{
	height:40px;
	width:69px;
	float:left;
	position:relative;
}
.content2{
	height:400px;
	width:345px;
	float:left;
	margin-left: 7px;
	background-color: white;
}
.contentp{
	height:220px;
	width:325px;
	float:left;
}
.contentp>img{
	width:125px;
	height:110px;
}
.content2-1{
	height:180px;
	width:170px;
	float:left;
}
.content2-1>img{
	width:155px;
}
.content2-1>li>a{
	font-size: 13px;
	color:#409bae;
	margin-left: 35px;
}
.content2-1>li>a:hover{
	color:red;
}
.content2-1>span>a{
	font-size: 13px;
	color:#409bae;
	margin-left: 21px;
}
.content2-1>span>a:hover{
	color:red;
}
.content2-1>p{
	font-size: 11px;
	margin-left: 19px;
}
.content3{
	height:400px;
	width:345px;
	float:right;
	background-color: white;
}
.content3-1{
	height:240px;
	width:345px;
	float:left;
}
.content3-1>img:hover{
	opacity: 0.7;
}
.content3-2{
	height:110px;
	width:345px;
	float:left;
}
.content3-2>img{
	width:110px;
	height:105px;
}
.content3-2>img:hover{
	opacity: 0.7;
}
.content5-1{
	height:350px;
	width:345px;
	float:left;
}
.content5-1-1>img{
	width:330px;
	height:340px;
	margin-left:7px;
}
.content6-1{
	height:350px;
	width:345px;
	float:left;
}
.content6-1-1>img{
	width:330px;
	height:340px;
	margin-left:7px;
}
.main-1{
	height:105px;
	width:1500px;
}
.main{
	height:100px;
	width:1055px;
	padding-top:15px;
}
.main>li{
	height:35px;
	width:110px;
	font-size: 22px;
	position: relative;
	margin-left: 465px;
	letter-spacing: 5px;
	padding-left: 11px;
	padding-top: 35px;
	background-color:#f1f3ee;
	font-weight: bold;
}
.main1{
	border:1px solid black;
	background-color: black;
	height:2px;
	width:295px;
	margin-left: 380px;
	margin-top: 50px;
	position: absolute;
}
.floor-1{
	height:415px;
	width:1500px;
	padding-top:30px
}
.floor{
	height:400px;
	width:1055px;
}
.floor1-1{
	height:400px;
	width:345px;
	float:left;
	background-color: white;
}
.floor1-1>img{
 	margin-left: 4px;
}
.floor1-1>img:hover{
 	opacity:0.8;
}
.floor1-2{
	height:400px;
	width:345px;
	float:left;
	background-color: white;
	margin-left: 7px;
}
.floor1-2>img{
 	margin-left: 4px;
}
.floor1-2>img:hover{
 	opacity:0.8;
}
.floor1-3{
	height:400px;
	width:345px;
	float:right;
}
.floor1-3-1{
	border:5px solid black;
	height:370px;
	width:310px;
	top:22px;
	left:25px;
	z-index: 0;
	position:relative; 
}
.floor1-3-2{
/*	border:1px solid red;*/
	height:370px;
	width:300px;
	z-index: 3;
	top:-28px;
	left:-17px;
	position: absolute;
	overflow: hidden;
	background-color:#f1f3ee;
}
.floor1-3-2>img{
	height:370px;
	width:300px;
}
.floor1-3-2>img:hover{
	opacity: 0.8
}
.floor2-1{
	height:400px;
	width:345px;
	float:left;
}
.floor2-1-1{
	border:5px solid black;
	height:370px;
	width:310px;
	top:22px;
	left:0px;
	z-index: 0;
	position:relative; 
}
.floor2-1-2{
	height:370px;
	width:300px;
	z-index: 3;
	top:-28px;
	left:27px;
	position: absolute;
	overflow: hidden;
	background-color:#f1f3ee;
}
.floor2-1-2>img{
	height:370px;
	width:300px;
}
.floor2-1-2>img:hover{
	opacity: 0.8;
}
.floor2-2{
	height:400px;
	width:345px;
	float:left;
	background-color: white;
	margin-left: 7px;
}
.floor2-2>img{
	margin-left: 32px;
	margin-top: 10px;
}
.floor2-2-1{
	height:150px;
	width:323px;
	border-bottom:1px solid #9b9b9d;	
	float:left;
	margin-left: 10px;
}
.floor2-2-1>img{
	margin-left: 25px;
	margin-top: 10px;
}
.floor132-1{
	height:370px;
	width:300px;
	background-color:#f1f3ee;
}
.floor132-1>img{
	height:180px;
	width:300px;
}
.floor132-1>img:hover{
	opacity: 0.8;
}
.floor123-1>p>img{
	top:20px;
}
.floor123-1>p>img:hover{
	opacity:0.8;
}
.floor2-3{
	height:400px;
	width:345px;
	float:right;
	background-color: white;
}
.floor2-3-1{
	height:155px;
	width:312px;
	float:left;
	margin-left:15px;
	margin-top: 7px;
}
.floor2-3-1l{
	width:110px;
	height:155px;
	background-color: #aeb7c8;
	float:left;
}
.floor2-3-1l>li{
	font-size: 15px;
	color: white;
	margin-top: 20px;
	margin-left: 11px;
	font-weight:bold;
}
.floor2-3-1l>span{
	font-size: 11px;
	margin-left: 11px;
	color: white;
	margin-top: 5px;
}
.floor2-3-1l>p{
	margin-left: 11px;
}
.floor2-3-1r{
	width:202px;
	height:155px;
	background-color: #e3e6ed;
	float:left;
}
.floor2-3-1r1{
	width:80px;
	height:105px;
	float:left;
	margin-left: 15px;
	margin-top: 31px;
}
.floor2-3-1r1s{
	border-radius: 10px 10px;
	border:2px solid white;
	width:80px;
	height:75px;
	background-color:white;
}
.floor2-3-1r1s>img:hover{
	opacity: 0.6;
}
.floor2-3-1r1>li{
	color:red;
	font-size: 11px;
	margin-top:7px;
	margin-left: 17px;
}
.floor2-3-1r1>p{
	color:red;
	font-size: 11px;
	margin-top:7px;
	margin-left: 22px;
}
.floor2-3-2{
	height:155px;
	width:312px;
	float:left;
	margin-left:15px;
	margin-top: 7px;
}
.floor2-3-2l{
	width:110px;
	height:155px;
	background-color:#bfb4c5 ;
	float:left;
}
.floor2-3-2l>li{
	font-size: 15px;
	color: white;
	margin-top: 20px;
	margin-left: 11px;
	font-weight:bold;
}
.floor2-3-2l>p{
	margin-left: 11px;
}
.floor2-3-2l>span{
	font-size: 11px;
	margin-left: 11px;
	color: white;
	margin-top: 5px;
}
.floor2-3-2r{
	width:202px;
	height:155px;
	background-color: #eee8f2;
	float:left;
}
.floor3-1{
	height:400px;
	width:345px;
	float:left;
	background-color: white;
}
.floor3-3{
	height:400px;
	width:345px;
	float:right;
}
.floor4-1{
	height:400px;
	width:345px;
	float:left;
	background-color: white;
}
.floor4-1>img{
 	margin-left: 4px;
}
.floor4-1>img:hover{
 	opacity:0.8;
}
.floor4-1p{
	padding-top: 10px;	
	padding-left: 10px;
}
.floor4-1p>img:hover{
	background-color:#d6d2e9;
	opacity:0.5;
}
.floor4-2{
	height:400px;
	width:345px;
	float:left;
	margin-left: 7px;
	background-color: white;
}
.floor4-2>img:hover{
	opacity:0.7;
}
.floor5-2{
	height:400px;
	width:345px;
	float:left;
	margin-left: 7px;
	background-color: white;
}
.floor5-2>img{
	margin-left: 25px;
	margin-top: 10px;
}
.floor5-2-1{
	height:150px;
	width:323px;
	border-bottom:1px solid #9b9b9d;	
	float:left;
	margin-left: 10px;
}
.floor5-2-1>img{
	margin-left: 18px;
	margin-top: 10px;
}
.floor5-3{
	height:400px;
	width:345px;
	float:right;
	background-color: white;
}
.floor5-3>img{
	margin-left: 7px;
/*	margin-left: 7px;*/
}
.floor5-3>img:hover{
	opacity:0.8;
}
.footer-1{
	height:470px;
	width:1500px;
}
.footer1{
	border-top:2px solid #aaa;
	border-bottom:1px solid #aaa;
	height:220px;
	width:1055px;
}
.footer1_li{
	height:200px;
	width:150px;
	float:left;
	margin-left:7px;
}
.footer1_li>p{
	height:30px;
	width:120px;
	margin-top:25px;
}
.footer1_li>p>a{
	color:#323233;
	font-size:17px;
	margin-left:5px;
	font-weight:bold;
}
.footer1_li>p>a:hover{
	color:#e4393c;
}
.footer1_li>li{
	height:20px;
	width:115px;
}
.footer1_li>li>a{
	color:#323233;
	font-size:15px;
	margin-left:5px;
	margin-top:20px;
}
.footer1_li>li>a:hover{
	color:#e4393c;
}
.footer1_p{
	height:200px;
	width:270px;
	float:right;
	background-image: url(../sprite/bjt.png);
}
.footer1_p>p{
	height:30px;
	width:200px;
	margin-top:20px;
}
.footer1_p>p>a{
	color:#323233;
	font-size:15px;
	margin-left:15px;
	font-weight:bold;
}
.footer1_p>li{
	height:23px;
	width:270px; 
	margin-left: 20px;
}
.footer1_p>li>a{
	color:#323233;
	font-size:16px;
}
.footer1_p>span{
	height:20px;
	width:270px;
}
.footer1_p>span>a{
	color:#323233;
	font-size:16px;
	float:right;
}
/*footer2*/
.footer2{
	height:40px;
	width:1055px;
	padding-left: 60px;
}
.footer2>li{
	float:left;
	margin-left:3px;
	line-height:40px;
}
.footer2>li>a{
	float:left;
	color:#323233;
	font-size:13px;
	margin-left: 3px;
}
.footer2>li>a:hover{
	color:#e4393c;
}
/*footer3*/
.footer3{
	height:110px;
	width:1055px;
	font-size: 13px;
}
.footer3-one{
	height:21px;
	width:1055px;
	line-height:21px;
	padding-left:60px;
}
.footer3-one>li{
	float:left;
	margin-left:7px;
}
.footer3-one>li>a:hover{
	color:#e4393c;
}
.footer3-two{
	height:21px;
	padding-left:64px;
}
.footer3-two>li{
	margin-left:6px;
	float:left;
}
.footer3-two>li>a:hover{
	color:#e4393c;
}
.footer3-three{
	height:21px;
	padding-left:46px
}
.footer3-three>li{
	margin-left:6px;
	float:left;
}
.footer3-three>li>a:hover{
	color:#e4393c;
}
.footer3-four{
	height:21px;
}
.footer3-four>li{
	margin-left:6px;
	float:left;
}
.footer3-four>li>span{
	width:16px;
	height:16px;
	background-position:0px 0px;
	margin-left:10px;
	margin-top:0px;
	background-image: url(../sprite/sprite5.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	margin-left: 210px;
}
.footer3-four>li>p{
	width:20px;
	height:10px;
	background-position:-20px -20px;
	margin-left:5px;
	margin-top:5px;
	background-image: url(../sprite/sprite5.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.footer3-four>li>s{
	width:20px;
	height:10px;
	background-position:-40px 0px;
	margin-left:5px;
	margin-top:5px;
	background-image: url(../sprite/sprite5.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.footer3-four>li>b{
	width:20px;
	height:10px;
	background-position:-0px -17px;
	margin-left:5px;
	margin-top:5px;
	background-image: url(../sprite/sprite5.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.footer3-four>li>g{
	width:20px;
	height:10px;
	background-position:-20px -17px;
	margin-left:5px;
	margin-top:5px;
	background-image: url(../sprite/sprite5.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.footer3-four>li>a:hover{
	color:#e4393c;
}
.footer3-five{
	height:21px;
	padding-left:415px
}
.footer3-five>li{
	margin-left:6px;
	float:left;
}
.footer3-five>li>a:hover{
	color:#e4393c;
}
.bottom{
	height:40px;
	width:1055px;
	padding-left: 420px;
	line-height: 40px;
}
.bottom1,.bottom2,.bottom3,.bottom4,.bottom5{
	width:110px;
	height:40px;
	float:left;
	margin-left: 15px;
}
.bottom1>g{
	width:100px;
	height:30px;
	background-position:-205px -113px;
}
.bottom2>g{
	width:100px;
	height:30px;
	background-position:-205px -76px;
}
.bottom3>g{
	width:100px;
	height:30px;
	background-position:-205px -40px;
}
.bottom4>g{
	width:100px;
	height:30px;
	background-position:-205px -3px;
}
.bottom5>g{
	width:100px;
	height:30px;
	background-position:-2px -157px;
}


